@import url(../../node_modules/materialize-css/dist/css/materialize.min.css);

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
textarea {
  display: inline-block;
}

select {
  color: inherit;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  color: #37474f;
  background: url("https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTN8fHdvcmtzcGFjZXN8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60") center top/cover;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userSelect {
  max-width: 300px;
  min-width: 200px;
  height: auto;
  margin-right: 20px;
}

.btn {
  min-width: 150px;
}

.btn-cancel {
  margin-right: 20px;
}

.btn-delete {
  border: none;
  background-color: inherit;
  color: #37474f;
  padding: 5px;
  cursor: pointer;
}

.btn-delete:hover {
  color: red;
}

.btn-close {
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.table {
  margin: 25px 0;
}

table,
th,
td {
  border: 1px solid #a5a5a5;
  background-color: #fff;
}

.col1 {
  width: 10%;
}

.col-td {
  width: 17%;
}

th {
  text-align: center;
  padding: 10px;
}

td {
  padding: 0;
  min-width: 95px;
}

tr {
  height: 50px;
}

tr .theader {
  background-color: #dbdbdb;
}

.cell-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #8ef7b1;
  font-style: italic;
  border: 1px solid #8ef7b1;
  padding: 10px;
  cursor: all-scroll;
}

.cell-wrap p {
  font-size: 12px;
}

.dnd-hide {
  display: none;
}

.dnd-hovered {
  background-color: rgba(142, 247, 177, 0.5);
}

.create-content {
  width: 80%;
  margin: 40px auto;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(55, 71, 79, 0.3);
  box-shadow: 0px 0px 22px 0px rgba(55, 71, 79, 0.3);
  z-index: 99;
  overflow-y: auto;
}

.create-content h2 {
  margin-bottom: 30px;
  text-align: center;
}

.create-content input[type=text] {
  height: auto;
}

.create-content select {
  width: 300px;
  display: inline-block;
  height: auto;
}

.helper-text {
  margin-bottom: 20px;
}

.create-error {
  color: red;
  background-color: #fda1a1;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 25px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.confirm-window {
  display: none;
  width: 400px;
  padding: 40px;
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.confirm-window p {
  font-weight: 600;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header h1 {
    margin-bottom: 15px;
  }

  .panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .panel > * {
    margin-bottom: 15px;
  }
}
@supports (-webkit-appearance:none){
body{background:url("https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTN8fHdvcmtzcGFjZXN8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60") center top/cover}
}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}
